/*Header*/
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header{
  
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

/*Sidebar*/
.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}
.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  border-bottom: 1px solid #ddd
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}
/*Table*/

 table{
 	position: absolute;
 	left: 50%;
 	top: 35%;
 	transform: translate(-50%,-50%);
 	border-collapse: collapse;
 	width: 800px;
 	height: 200px;
 	border: 1px solid #bdc3c7;
 	box-shadow: 2px 2px 12px rgb(0,0,0,0.2), -1px -1px 8px rgb(0,0,0,0.2);
 }

 tr {
 	transition: all .2s ease-in;
 	cursor: pointer;
 }

th,

td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd
}

#header {
	background-color: #19B3D3;
	color: #fff; 
}

@media only screen and (max-width: 768px) {
	table{
		width: 90%;
	}
	/*Table*/

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: url(dash.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}
@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }












